<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block titulo %}VICOOK{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">

  <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
    <div class="container-lg">
      <a class="navbar-brand fw-bold fs-4" href="{{ url_for('recetas.index') }}"><img src="{{ url_for('static', filename='img/vicook.png') }}" alt="VICOOK LOGO" class="section-icon-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('recetas.index') }}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('categorias.index') }}">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-nueva-receta" href="{{ url_for('recetas.nueva_receta') }}">
              <span class="plus-icon">+</span> Nueva receta
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="flex-grow-1">
    {% block contenido %}{% endblock %}
  </main>

  <footer class="bg-footer text-white text-center py-4 mt-5">
    <div class="container-lg">
      <p class="mb-2">
        <strong>VICOOK</strong> · Tus recetas a solo un click
      </p>
      <p class="mb-2">
        Creado por Victoria Cossi Mazza | @vickyyy.cm
      </p>
      <p class="text-muted small mb-0">
        © 2026 | Todos las harinas reservadas.
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>